<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .myrow{
            margin-bottom:10px
        }
    </style>
</head>
<body>
<form id="myForm">
    <div class="row myrow">
        <div class="col-md-2">
            <label for="username">影视名称：</label>
        </div>
        <div class="col-md-4">
            <input type="text"   name="userid" id="userid">
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="col-md-2">
            <label for="usertypeid">影视类型：</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="usertypeid" name="usertypeid">
        </div>
    </div>
    <div class="row myrow">
        <div class="col-md-2">
            <label for="createtime">上映时间：</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control date" id="createtime" name="createtime">
        </div>
    </div>
</form>
</body>
<script type="text/javascript">
</script>
</html>